<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="Dalakoti07/blog-posts"
  data-repo-id="R_kgDOOXj_lg"
  data-category="Tech Discussions"
  data-category-id="DIC_kwDOOXj_ls4Co-xz"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
